<!doctype html>
<html lang="en">
<head>
    <title></title>
    <style>
        {% include('style.css.j2') %}
    </style>
</head>
<body>
    <p><b>Current time: {{ now.astimezone() }}</b></p>
    <main>
        {% for entry in entries %}
            <section id="entry{{ entry.id }}">
                <p>{{ entry.date }}
                    <button onclick="del({{ entry.id }})">Delete</button>
                </p>
                <ul>
                    <li>ID: {{ entry.id }}</li>
                    <li>Price: {{ entry.price }}</li>
                    <li>Products:
                        <ul>
                            {% for pid, product in entry.products %}
                                <li>{{ product }} ({{ pid }})</li>
                            {% endfor %}
                        </ul>
                        {{ entry.product_ids }}
                    </li>
                </ul>
            </section>
        {% endfor %}
    </main>

    <script type="text/javascript">
        function del(idx) {
            fetch("/entry/" + idx, {method: "DELETE"}).then((res) => {
                if (res.ok) {
                    const section = document.getElementById("entry" + idx);
                    section.style.color = "lightgray";
                }
            });
        }
    </script>
</body>
</html>