<!doctype html>
<html lang="en">
<head>
    <title></title>
    <style>
        {% include('style.css.j2') %}
    </style>
</head>
<body>
    <header>Downloaded on {{ now.astimezone() }}</header>
    <main>
        {% for entry in entries %}
            <section id="entry{{ entry.id }}">
                <span class="entry-id">#{{ entry.id }}</span>
                <span class="entry-date">{{ entry.date }}</span>
                <button class="entry-button" onclick="del({{ entry.id }})">Delete</button>
                <span class="entry-price">{{ entry.price }}</span>

                <ul class="entry-products">
                    {% for pid, product in entry.products %}
                        <li><span class="product-id">#{{ pid }}</span> {{ product }}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </main>
    <footer>
        Copyright &copy 2020-2021 &vert; Some components of this software are
        <a href="https://github.com/shinycore/kiosk" target="_blank">open-source</a>
    </footer>

    <script type="text/javascript">
        function del(idx) {
            fetch("/entry/" + idx, {method: "DELETE"}).then((res) => {
                if (res.ok) {
                    const section = document.getElementById("entry" + idx);
                    section.classList.add("deleted");
                }
            });
        }
    </script>
</body>
</html>
