:root {
    --background-bottom: #eee;
    --background-top: #fff;
    --border: #ccc;
}

body {
    background-color: var(--background-bottom);
    margin: 16px;
    max-width: 312px;
}

button {
    background-color: var(--background-top);
    border: 0;
    padding: 8px 0;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--background-bottom);
    cursor: pointer;
}

main {
    column-gap: 8px;
    display: grid;
    row-gap: 8px;
}

section {
    background-color: var(--background-top);
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
    column-gap: 8px;
    display: grid;
    grid-template-areas:
        "entry-id entry-date entry-button"
        "entry-price entry-price entry-price"
        "entry-products entry-products entry-products";
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content min-content auto;
    padding: 8px;
    row-gap: 8px;
}

body, button {
    font: 16px "-apple-system", "system-ui", "Arial", sans-serif;
}

.entry-button {
    grid-area: entry-button;
}

.entry-date {
    grid-area: entry-date;
}

.entry-id {
    grid-area: entry-id;
}

.entry-price {
    grid-area: entry-price;
}

.entry-products {
    grid-area: entry-products;
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry-products > li {
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 8px;
}

.entry-products > li:not(:last-child) {
    margin-bottom: 8px;
}

.entry-button, .entry-date, .entry-id {
    align-self: center;
}

@media (min-width: 360px) {
    body {
        margin: 16px auto;
    }
}

@media (min-width: 672px) {
    body {
        max-width: 632px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    body {
        max-width: 952px;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1312px) {
    body {
        max-width: 1272px;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
    }
}
