body {
    font-family: "-apple-system", "system-ui", "Arial", sans-serif;
    margin: 16px;
    max-width: 312px;
}

main {
    column-gap: 8px;
    display: grid;
    row-gap: 8px;
}

section {
    border: 1px solid black;
    column-gap: 8px;
    display: grid;
    grid-template-areas:
        "entry-id entry-date entry-button"
        "entry-price entry-price entry-price"
        "entry-products entry-products entry-products";
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content min-content auto;
    padding: 8px;
    row-gap: 8px;
}

.entry-button {
    grid-area: entry-button;
}

.entry-date {
    grid-area: entry-date;
}

.entry-id {
    grid-area: entry-id;
}

.entry-price {
    grid-area: entry-price;
}

.entry-products {
    grid-area: entry-products;
}

.entry-button, .entry-date, .entry-id {
    align-self: center;
}

@media (min-width: 360px) {
    body {
        margin: 16px auto;
    }
}

@media (min-width: 672px) {
    body {
        max-width: 632px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    body {
        max-width: 952px;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1312px) {
    body {
        max-width: 1272px;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
    }
}
